// compile please
$grid-gutter-width: 30px;

// imports
@import 'D:/git/LiveSite/sources/SASS/dark.scss';
@import 'D:/websites/devSite Server/sources/bootstrap/scss/bootstrap.scss';

// overrides
@import 'D:/git/LiveSite/include/layout/calender/calendar.scss';

// global styles

html {
  font-size: 56px;
}

*{
  color: inherit;
}

body{
  background-color:$background-color;
  color: $primary-text-color;
  padding-top: 198px;
}

code{
  color: inherit;
}

button{
  &.btn{
    &.btn-primary{
      background-color: $secondary-box-color;
      border-color: lighten($secondary-box-color, 5%);
      background-color: $secondary-box-color;
      border: 6px inset lighten($secondary-box-color, 15%);
      &:active{
        background-color: lighten($secondary-box-color, 15%) !important;
        border: 6px outset lighten($secondary-box-color, 15%);
      }
      &:focus{
        border-color: lighten($secondary-box-color, 15%) !important;
        box-shadow: none;
      }
    }
  }
}

a{
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: none;
    color: inherit;
  }
  h3{
    color: inherit;
  }
}

h1,h2,h3,h4,h5,h6 {
  sub{
    padding-left: 2%;
  }
}

P{
  a{
    color:rgb(235, 226, 29);
    &:hover{
      color:rgb(175, 235, 29);
    }
  }
}

// break points

@include media-breakpoint-up(sm) {
  html {
    font-size: 46px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 38px;
  }
  body{
    padding-top: 165px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 18px;
  }
  body{
    padding-top: 65px;
  }
}

// layout

div.banner{
  background-color: yellow;
  height: 100vh;
}

nav.nav{
  z-index: 3000 !important;
}


div.left{
  min-height: 600px;
}

div.center{
  min-height: 150px;
  color: $primary-text-color;
  font-size: 1.3em;
  padding: 2%;
  span{
    &.ip{
      text-align: center;
      display: block;
      font-size: 1.5em;
    }
  }
}

div.right{
  min-height: 600px;
}

div.box, a.box, li.box{
  @extend .mb-3;
  p{
    padding: 1.5%;
    &.intro{
      font-weight: 700;
    }
    code{
      border-radius: 5px;
      color: inherit;
      padding: 4px 8px;
    }
  }
  &:target{
    padding-top: 70px !important;
  }
  &.danger{
    background-color: $danger-bg;
    border: 12px inset darken($danger-bg, 8%);
    color: $danger-text;
    &.hover:hover{
      border: 6px outset lighten($danger-bg, 15%);
    }
    p{
      code{
        background-color: darken($danger-bg, 8%);
      }
    }
    &.override{
      @extend .danger;
    }
  }
  &.dark{
    background-color: $secondary-box-color;
    color: $secondary-text-color;
    border: 6px inset lighten($secondary-box-color, 15%);
    &.hover:hover{
      border: 6px outset lighten($secondary-box-color, 15%);
    }
    p{
      code{
        background-color: lighten($secondary-box-color, 8%);
      }
    }
    &.override{
      @extend .dark;
    }
  }
  &.default{
    background-color: $primary-box-color;
    border: 6px inset darken($primary-box-color, 5%);
    color: $primary-text-color;
    &.hover:hover{
      border: 6px outset lighten($primary-box-color, 15%);
    }
    p{
      code{
        background-color: lighten($primary-box-color, 8%);
      }
    }
  }
  &.override{
    @extend .default;
  }
}


div.article{
  @extend .box;
  min-height: 300px;
  width: 100%;
}

div.video{
  img{
    width: 100%;
    height: auto;
  }
  &:hover{
    border: 6px outset lighten($secondary-box-color, 15%);
  }
  div{
    background-position: center;
    background-size: cover;
    height: 9.5%;
    width: 100%;
  }
  a{
    color: $secondary-text-color;
    text-decoration: none;
    p.videoTitle{
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

div.media{
  a{
    margin: 0 auto;
    color: $secondary-text-color;
    text-decoration: none;
    text-align: center;
    padding-bottom: 16px;
    &:hover{
      padding-bottom: 0px;
    }
    span{
      display: block;
    }
    img{
      width: 32px;
      height: auto;
      &:hover{
        width: 46px;
      }
    }
  }
}

nav.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  button.navbar-toggler{
    background-color: $primary-box-color;
    span.navbar-toggler-icon{
      color: $primary-text-color;
    }
  }
  &.navbar-dark{
    a.navbar-brand{
      color: $secondary-text-color;
    }
    li.nav-item{
      a.nav-link{
        color: $secondary-text-color;
        &.hover{
          color: $secondary-text-color;
        }
        &.activePage{
          color: rgb(186, 0, 0);
        }
        &.disabled{
          color: darken( $primary-box-color, 15% );
        }
      }
    }
    div.dropdown-menu{
      background-color:$secondary-box-color;
      a{
        color: $secondary-text-color;
        &.dropdown-item{
          &:hover{
            background-color: darken( $primary-box-color, 5% );
            color: $primary-text-color;
          }
        }
      }
    }
  }
}

ul.boxList{
  width: 85%;
  padding: 0;
  margin: 0 auto 0 auto;
  li{
    list-style: none;
    width: 100%;
    margin-top: 4%;
    a{
      width: 100%;
      display: block;
      text-decoration: none;
      padding: 0 4% 0 4%;
    }
  }
}

div.CascadeList{
  .card{
    color: $secondary-text-color;
    a{
      color: $secondary-text-color;
      font-weight: 400;
      letter-spacing: 0.04em;
      &.card-link{
        img{
          height: 5%;
          margin-right: 4%;
        }
      }
    }
    border-radius: 0;
    margin-top: 2%;
  }
}

ul.list{
  list-style: none;
  li{
    margin-top: 3%;
    border-bottom: 6px inset darken($primary-box-color, 15%);
    a{
      color: $primary-text-color;
    }
  }
}
